[defaults]
forks = 10
inventory = inventory/site.yml
host_key_checking = False
retry_files_enabled = False
pipelining = True
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible/facts
fact_caching_timeout = 7200
stdout_callback = default
callback_result_format = yaml
callbacks_enabled = profile_tasks
timeout = 30
deprecation_warnings = True
command_warnings = False
nocows = 1
collections_path = ./collections
roles_path = ./roles:./roles.galaxy

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=15

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False
