# {{ ansible_managed }}
[Unit]
Description=Scheduled pgBackRest %i backup for stanza {{ backup_store_stanza }}

[Timer]
{% if 'full' in (timer_instance | default('')) %}
OnCalendar={{ backup_store_schedule_full }}
{% else %}
OnCalendar={{ backup_store_schedule_diff }}
{% endif %}
Persistent=true
Unit=pgbackrest-backup@%i.service

[Install]
WantedBy=timers.target
