# {{ ansible_managed }}
[global]
log-level-console=info
log-level-file=detail
log-path={{ pgbackrest_log_path }}
start-fast=y
{% if pgbackrest_mode == 'server' %}
repo1-path={{ pgbackrest_repo_path }}
repo1-retention-full={{ pgbackrest_retention_full }}
{% if pgbackrest_s3_enabled %}
repo2-type=s3
repo2-s3-bucket={{ pgbackrest_s3_bucket }}
repo2-s3-endpoint={{ pgbackrest_s3_endpoint }}
repo2-s3-region={{ pgbackrest_s3_region }}
repo2-path={{ pgbackrest_s3_path }}
repo2-s3-key={{ pgbackrest_s3_key }}
repo2-s3-key-secret={{ pgbackrest_s3_key_secret }}
repo2-retention-full={{ pgbackrest_s3_retention_full }}
{% endif %}
{% endif %}
{% if pgbackrest_mode == 'client' %}
repo1-host={{ pgbackrest_server_host }}
repo1-host-type=tls
repo1-host-ca-file={{ pigsty_pki_dir }}/ca.crt
repo1-host-cert-file={{ pigsty_pki_dir }}/{{ inventory_hostname }}.crt
repo1-host-key-file={{ pigsty_pki_dir }}/{{ inventory_hostname }}.key
repo1-host-port={{ pgbackrest_tls_port }}
archive-async=y
spool-path=/var/spool/pgbackrest
{% endif %}
tls-server-address=*
tls-server-port={{ pgbackrest_tls_port }}
tls-server-ca-file={{ pigsty_pki_dir }}/ca.crt
tls-server-cert-file={{ pigsty_pki_dir }}/{{ inventory_hostname }}.crt
tls-server-key-file={{ pigsty_pki_dir }}/{{ inventory_hostname }}.key
{% if pgbackrest_mode == 'server' %}
{% for host in groups['postgres'] %}
tls-server-auth={{ host }}={{ pgbackrest_stanza }}
{% endfor %}
{% endif %}
{% if pgbackrest_mode == 'client' %}
tls-server-auth={{ pgbackrest_server_host }}={{ pgbackrest_stanza }}
{% endif %}

[{{ pgbackrest_stanza }}]
{% if pgbackrest_mode == 'server' %}
{% for host in groups['postgres'] %}
pg{{ loop.index }}-host={{ host }}
pg{{ loop.index }}-host-type=tls
pg{{ loop.index }}-host-ca-file={{ pigsty_pki_dir }}/ca.crt
pg{{ loop.index }}-host-cert-file={{ pigsty_pki_dir }}/{{ inventory_hostname }}.crt
pg{{ loop.index }}-host-key-file={{ pigsty_pki_dir }}/{{ inventory_hostname }}.key
pg{{ loop.index }}-host-port={{ pgbackrest_tls_port }}
pg{{ loop.index }}-path={{ hostvars[host].pgbackrest_pg_path | default(pgbackrest_pg_path) }}
pg{{ loop.index }}-port={{ hostvars[host].pgbackrest_pg_port | default(pgbackrest_pg_port) }}
{% endfor %}
{% endif %}
{% if pgbackrest_mode == 'client' %}
pg1-path={{ pgbackrest_pg_path }}
pg1-port={{ pgbackrest_pg_port }}
{% endif %}
