# {{ ansible_managed }}
# pgBackRest client config for {{ inventory_hostname }}.
[global]
repo1-host={{ hostvars[backup_client_store_host].ansible_host }}
repo1-host-user={{ backup_client_store_user }}
repo1-host-port={{ backup_client_ssh_port }}
log-level-console=info
log-level-file=detail
log-path={{ backup_client_log_path }}
{% if backup_client_archive_async %}
archive-async=y
archive-get-queue-max=1GiB
process-max={{ backup_client_archive_process_max }}
{% endif %}

[{{ backup_client_stanza }}]
pg1-path={{ backup_client_pg_path }}
pg1-port={{ backup_client_pg_port }}
pg1-user={{ backup_client_pg_user }}
